body {
  font-family: arial;
}
input {
  padding: 4px 2px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 60px;
  text-align: center;
  outline: none;
}
td,
th {
  vertical-align: middle !important;
}
/*
.title
  text-align: center
  margin: 20px
  border-bottom: 1px solid #ccc

#grid
  text-align: center
  .inner
    display: inline-block
    text-align: center
*/
