//- module
doctype html
include /modules/ldui.pug
block vars
html
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/ldui/ldui.min.css")
    block head
    +css("/css/index.css")
  body
    block body
    +script("https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js")
    +script("/assets/ldui/ldui.min.js")
    block script
