//- module
doctype html
html
  block vars
  include @/@loadingio/bootstrap.ext/index.pug
  head
    block prehead
    link(rel="preconnect",href="https://fonts.gstatic.com")
    +css([
      {url: "https://fonts.googleapis.com/css2?family=Martel:wght@900&family=Rubik:wght@300;400;500&display=swap"},
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldiconfont"},
      {name: "ldcover"},
      {url: "/css/index.min.css"}
    ])
    block head
  body
    block body
    +script([
      {name: "bootstrap.native", path: "dist/bootstrap-native-v4.min.js"},
      {name: "@loadingio/ldquery"},
      {name: "ldcover"},
      {name: "ldview"}
    ])
    block script
