//- module
doctype html
html
  block vars
  include @/bootstrap.ldui/dist/index.pug
  head
    block prehead
    link(rel="preconnect",href="https://fonts.gstatic.com")
    +css("https://fonts.googleapis.com/css2?family=Martel:wght@900&family=Rubik:wght@300;400;500&display=swap")
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("assets/lib/ldiconfont/main/ldif.min.css")
    +css("assets/lib/ldcover/main/ldcv.min.css")
    +css("css/index.css")
    block head
  body
    block body
    +script("assets/lib/bootstrap.native/main/bootstrap-native.min.js")
    +script("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.js")
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldcover/main/ldcv.min.js")
    +script("assets/lib/ldview/main/index.min.js")
    block script
