extends /base.pug
block body
  body
    #root
      .text-center
        h1 Schulze.js
        p JS implementation of Schulze method for your Condorcet election method.
      br
      .text-center
        a.btn.btn-primary.btn-lg.mr-2(href="http://github.com/zbryikt/schulze.js") JS Library
        .btn.btn-primary.btn-lg.mr-2 G Sheet Addon #[small: .badge.badge-light Coming Soon]
        a.btn.btn-primary.btn-lg(href="demo/") Online Demo
      +nbr(1)
      hr
      br
      h2.text-center What is Schulze.js?
      p Schulze.js is an open source#[small (MIT License)] JS implementation of Schulze method, which is one of the Condorcet election method that elects the candidate that would win a majority of the vote in all of the head-to-head elections against each of the other candidates, whenever there is such a candidate.

      +nbr(2)
      h2.text-center How to use Schulze.js?

      p First you need data, formatted in the same layout of the following CSV example:
      br
      .text-center
        img(src="/assets/img/layout.png")
        br
        small row-based data example

      +nbr(3)
      h3.text-center Use it in Google Spreadsheet
      p You can use Schulze.js as a spreadsheet function once you got it installed. To use it, invoke the function "schulze" with following parameters:
      ul
        li #[code input] - Range of the above data, such as "A1:E7"
        li #[code isRowBased] - default true. only set it to false if you got your data transposed.
        li #[code isRank] - set to true if the values are rank instead of score, otherwise false.
        li #[code higherIsBetter] - set to true if higher score means better, otherwise false.
      p here is an example of the usage and corresponding result:
      .text-center
        h4: code =schulze(B2:E8,true,false,true)
        img.mt-1(src="/assets/img/spreadsheet.png",style="border:1px solid #ccc")
      +nbr(2)
      p If you don't know how to use spreadsheet function, you can still compute the schulze rank by 
      ol
        li selecting the overall data ranges including judges and candidates
        li in the menu bar, click #[code Add-ons] → #[code Condorcet] → #[code Condorcet / Schulze Mtehod]
        li the result will be append after the last column of the selected range.
      +nbr(5)
      h3.text-center Use it in NodeJS / Browser
      p.text-center TBD
      +nbr(5)
      hr
      h3.text-center License
      p MIT License, Kirby T. Wu 2018


