html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}
.typeset h1,
.typeset h2,
.typeset h3,
.typeset h4 {
  font-family: 'Marte', serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Marte', serif;
}
#sample-form > .inner {
  width: max-content;
  max-width: 100%;
  height: 176px;
  margin: 0 auto;
}
.sheet {
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
}
.sheet .cell.frozen {
  background: #f6f7f8;
  color: #555;
}
.sheet .cell.name {
  text-align: left;
  padding-left: 0.5em;
}
