body {
  font-family: arial;
}
td,
td.current.highlight {
  vertical-align: middle !important;
}
.title {
  text-align: center;
  margin: 20px;
  border-bottom: 1px solid #ccc;
}
#grid {
  text-align: center;
}
#grid .inner {
  display: inline-block;
  text-align: center;
}
