doctype html
html
  head
    script(src="https://cdn.jsdelivr.net/npm/pikaday@1.5.1/pikaday.min.js")
    script(src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js")
    script(src="https://cdn.jsdelivr.net/npm/numbro@2/dist/numbro.min.js")
    script(src="handsontable/dist/handsontable.js")
    script(src="schulze/main.js")
    link(rel="stylesheet",media="screen",href="https://cdn.jsdelivr.net/npm/pikaday@1.5.1/css/pikaday.min.css")
    link(rel="stylesheet",media="screen",href="handsontable/dist/handsontable.css")
    link(rel="stylesheet",media="screen",href="index.css")
  body
    .title
      h1 Schulze Voting Method
      p change the scores in the grid to see how ranks are changed for each candidates
    #grid: .inner
    script(type="text/javascript",src="index.js")
